<!DOCTYPE html>
<html>
  {% include head.html %}

  <body id="page-top" class="index">
    <div style="height: 150px; width: 100%; background-color: #333"></div>
    {% include header2.html %}
    <div class="container">
      <div class="row" style="margin-top: 100px; background-color: white">
        <div class="col-md-8 col-md-offset-2">{{ content }}</div>
      </div>
    </div>
    {% include contact.html %} {% include footer.html %} {% include modals.html
    %} {% include js.html %}
  </body>
</html>
